@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>For over 500 years we have worked tirelessly to ensure that you (our most valued 
    customer(yes YOU!)) have the best stay possible. Since our founding in 1512 
    we have consistently provided exceptional service, including giving you access to
    @Html.ActionLink("exclusive events", "Index", "Events") for your enjoyment.</p>
